body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --contacts-color: #757575;
  --text-color: #757575;
  --background-color: #2f303a;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

/*------header------*/

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: currentColor;
}

.logo-web {
  color: var(--accent-color);
}

.header-link,
.header-list-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
}

.header-link:hover {
  color: var(--accent-color);
}
.header-link:focus {
  color: var(--accent-color);
}

.header-list-contacts:hover {
  color: var(--accent-color);
}
.header-list-contacts:focus {
  color: var(--accent-color);
}

.header-item-contacts {
  color: var(--contacts-color);
}

/*------hero------*/
.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: #2196f3;
  cursor: pointer;
}

/*------feature------*/
.feature {
  padding-top: 94px;
}
.feature-heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: currentColor;
  margin-bottom: 10px;
}

.feature-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*------activity & command------*/
.activity-heading,
.command-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: currentColor;
  margin-bottom: 50px;
}

.activity {
  padding-top: 94px;
}

/*------command------*/
.command {
  padding-top: 188px;
}

.comand-item-name {
  padding-top: 30px;
}

.command-item-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: currentColor;
  margin-bottom: 10px;
}
.command-item-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-bottom: 124px;
}

/*------footer------*/
.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.container-logo {
  padding-bottom: 20px;
}

.footer-web {
  color: var(--accent-color);
}

.footer-item-address:hover,
.footer-item-mail:hover,
.footer-item-tel:hover {
  color: var(--accent-color);
}

.footer-item-address:focus,
.footer-item-mail:focus,
.footer-item-tel:focus {
  color: var(--accent-color);
}

.footer-item-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-item-mail,
.footer-item-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

/*------css-portfolio-------*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-btn:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.portfolio-item-name {
  padding-top: 20px;
  padding-bottom: 50px;
}

.portfolio-item-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.portfolio-item-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
